# Django settings
SECRET_KEY=SOME_SECRET_KEY
DEBUG=True
# STAGE: develop, production
STAGE=develop

# Database settings
DB_NAME=DB_NAME
DB_USER=postgresql
DB_PASSWORD=postgresql
DB_HOST=localhost
DB_PORT=5432

# redis and celery settings
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379

WEB_PORT=8008
